  <nav>
                <img src="estilos/Imagenes/logo-prueba.avif" alt="Logo" class="logo">
                <ul id="sidemenu">
                    <li href="#header"><%= link_to 'Home', "/" %></li>
                    <li href="#about"><%= link_to 'About Me', "about_me" %></li>
                    <li href="#services"><%= link_to 'Skills', "skills" %></li>
                    <li href="#portafolio"><%= link_to 'Projects', "projects" %></li>
                    <li a href="#contact"><%= link_to 'Contact Me', "contacme" %></li>
                <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>